/* style.css*/

/*Inheritance*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: beige;
    color: black;
    margin: 0;
    padding: 0;
}

/* Select multiple elements */
header, footer{
    background-color: brown;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Class selector */
.site-title {
    color: #faf8f8;
    font-size: 36px;
    margin: 0;
}
/* Id selector*/
#my-image {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
}

/* List styling*/ 
ul{
    list-style-type: square;
    padding-left: 20px;
}

ul Li:nth-child(odd) {
    background-color: rgba(170, 138, 73, 0.986);
}

/* navigation styling */
nav {margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin : 0;
    display: flex;
    background-color: brown;
    justify-content: center;
}
nav li :last-child{
    margin-right: 0;
}

nav a {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

nav a:hover, nav a:focus {
    background-color: black;
    color: beige;
}

blockquote{
    background-color: white;
    border-left: 5px solid black;
    margin: 20px 0;
    padding: 10px 20px;
    font-style: italic;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
