/* General Styles */
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

/* Main Container Styles */
.main-container {
    margin: 0 20%;
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
}

/* header Styles */
header{
    position: relative;
    text-align: center;
}

.header-image {
    width: 80%;
    height: auto;
    opacity: 0.7;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.site-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Navigation button Styles */
.nav-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
   z-index: 2;
}

.nav-button {
    display: inline-block;
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: #0c1620;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #a0a5aa;
}


/* Article Styles */
article {
    padding: 20px;
}

.article-content {
    display: flex;
    align-items: flex-start;
}

.article-image {
    float: left;
    margin-right: 20px;
    width: 30%;
    height: auto;
}

.article-text {
    flex: 1;
}



/* Questions Section Styles */
.question-section {
    margin-top: 10px;
}

.response-buttons {
    margin-top: 10px;
    display: flex;
    gap: 0;
}

.response-button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: rgb(238, 245, 238);
    color: rgb(25, 24, 24);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Facts Section Syles */
.facts {
    padding: 20px;
}


.facts ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* box Styles */
.box {
    border: 1px solid #131212;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color: beige;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
}

/* Form Section Styles */
.form-section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
.footer {
    text-align: right ;
    padding: 10px 5px;
    background-color: white;
    color: rgb(22, 20, 20);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
