body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;

}
.container{
    max-width: 900px;
    margin: 0 auto;
}
header{
    background-color: #333;
    color: aliceblue;
    padding: 100px;
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position: 50% 50%;
     background-size: cover;
     text-align: center;
     
}

h1 {
    font-size:5.063em;
    text-transform: uppercase;
}

h2 {
    font-size: 3.375em;
}

h3 {
    font-size: 2.25em;
}

p {
    font-size: 1.5em;
}

nav ul li {
    display: inline;
    color: aliceblue;
    margin: 0 0.5rem;
}

nav ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: aliceblue;
    color: #333;
}

section {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

aside {
    background-color: beige;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
}

aside ul {
    list-style-type: disc;
    margin-left: 1.5rem;

}

aside li {
    font-size: 1.5em;
    list-style-type: disc;
}

footer {
    background-color: blanchedalmond;
    color: rgb(18, 18, 17);
    padding: 0.8rem 0;
    text-align: center;
    margin-top: 1rem;
}

footer p{
    font-size: 1em;
}

table {
    width: 100%;
    text-align: center;
}

tr, th, td{
    border: 2px solid black;
}